.bill-container {
  background-color: rgb(242 242 242);
  color: #000;
  margin-top: -20px;
  margin-left: -20px;
  padding: 0;
  overflow-x: hidden;
}
.bill-header {
  color: #212529;
  font-family: system-ui;
  font-size: 20px;
  font-weight: 500;
  grid-area: auto;
  line-height: 24px;
  padding: 24px;
  margin-top: 20px;
  position: fixed;
  background-color: #fff;
  z-index: 10000;
  width: 100%;
  margin-left: 22px;
}
.flexContent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab {
  display: flex;
}
.flexEnd {
  display: flex;
  justify-content: end;
  margin-right: 10px;
  margin-top: 14px;
}
.bill-body {
  color: #000;
  padding: 24px;
  height: 100vh;

  .bill-title {
    background-color: rgb(242 242 242);
    margin-top: 79px;

    .title-action {
      background-color: rgb(255 255 255);
      line-height: 24px;
      display: flex;
      flex-direction: column;
      padding: 5px;
      border-radius: 10px;
      min-width: 195px;
      height: 145px;
      max-height: 200px;
      margin-left: 13px;

      .action-payment {
        padding: 5px;
        .payment-image {
        }
        .payment-title {
          color: rgb(24 119 242);
          font-size: 16px;
          font-weight: 700;
          line-height: 12px;
        }
      }
      .action-activity {
        .activity-title {
          font-size: 16px;
          font-weight: 700;
          line-height: 12px;
          color: rgb(24, 119, 242);
        }
      }
    }
  }
}
